name: Build the Greenbone Documentation

on:
  pull_request:
    branches: [main]

jobs:
  build-docs:
    name: Build Documentation
    runs-on: "ubuntu-latest"
    steps:
      - uses: actions/checkout@v5
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"
      - name: Install uv
        uses: greenbone/actions/uv@v3
      - name: Build docs
        run: uv run sphinx-build -W --keep-going -b html src _build
      - name: Upload Documentation Artifact
        uses: actions/upload-artifact@v4
        with:
          name: greenbone-community-docs-from-pr
          path: _build/

  deploy-docs:
    needs: build-docs
    name: Build Documentation
    uses: ./.github/workflows/deployment.yml
    permissions:
      contents: write
      id-token: write
      pages: write
    with:
      doc_root: pr/${{ github.head_ref }}
      artifact_name: greenbone-community-docs-from-pr
