name: Deploy the Greenbone Documentation"

on:
  workflow_call:
    inputs:
      doc_root:
        required: true
        default: "latest"
        type: string
      artifact_name:
        default: "greenbone-community-docs"
        required: true
        type: string

jobs:
  deploy-docs:
    name: Deploy Documentation to GitHub Pages
    runs-on: 'ubuntu-latest'
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
      cancel-in-progress: true
    permissions:
      contents: read
      pages: write
    steps:
      - uses: actions/checkout@v3
        with:
          ref: "gh-pages"
      - name: Cleanup Document Root
        run: |
          rm -rf ${{ inputs.doc_root }}
          mkdir -p ${{ inputs.doc_root }}
      - name: Download Documentation Artifact
        uses: actions/download-artifact@v3
        with:
          name: ${{inputs.artifact_name }}
          path: ${{ inputs.doc_root }}
      - name: Create GitHub Pages
        run: |
          cd ${{ inputs.doc_root }}
          git config --global user.name "${GITHUB_ACTOR}"
          git config --global user.email "${GITHUB_ACTOR}@users.noreply.github.com"
          git add .
          git commit --amend -m "Updating Docs for commit ${GITHUB_SHA}"
          git push --force-with-lease
      - name: Job Summary
        run: |
          echo '### Deployment successful! :rocket: https://greenbone.github.io/docs/${{ inputs.doc_root }}' >> $GITHUB_STEP_SUMMARY
