name: "Build and deploy the Greenbone Documentation"

on:
  workflow_dispatch:
  push:
    branches: [main]

jobs:
  build-docs:
    name: Build Documentation
    runs-on: "ubuntu-latest"
    steps:
      - uses: actions/checkout@v5
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"
      - name: Install uv
        uses: greenbone/actions/uv@v3
      - name: Build docs
        run: uv run sphinx-build -b html src _build
      - name: Upload Documentation Artifact
        uses: actions/upload-artifact@v4
        with:
          name: greenbone-community-docs
          path: _build/

  deploy-docs:
    needs: build-docs
    name: Build Documentation
    permissions:
      contents: write
      id-token: write
      pages: write
    uses: ./.github/workflows/deployment.yml
    with:
      doc_root: latest
      artifact_name: greenbone-community-docs
