name: "Build and deploy the Greenbone Documentation"

on:
  workflow_dispatch:
  push:
    branches: [ main ]

jobs:
  build-docs:
    name: Build Documentation
    runs-on: 'ubuntu-latest'
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: "3.9"
      - name: Install poetry and dependencies
        uses: greenbone/actions/poetry@v1
      - name: Build docs
        run: poetry run sphinx-build -M html src _build
      - name: Upload Documentation Artifact
        uses: actions/upload-artifact@v3
        with:
          name: greenbone-community-docs
          path: _build/html/

  deploy-docs:
    needs: build-docs
    name: Build Documentation
    uses: ./.github/workflows/deployment.yml
    with:
      doc_root: latest
      artifact_name: greenbone-community-docs
